/* msCross Styles */

.mscross
{
  border: 1px solid #7ea3bf;
  /* color: #000000; */
}




LAYER {
    BORDER-RIGHT: #008080 thin inset;
    BORDER-TOP: #008080 thin inset;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #33aaaa thin inset;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #33aaaa thin inset;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #ff9999;
    FONT-VARIANT: normal}

A {TEXT-DECORATION: none}

BODY
{
  background-color: white;
  #background-color:#EBEBEB;
  padding: 0 0 0 0;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
}


.map
{
/*  width: 600px;
  height: 400px;
  border: 5px solid #dddddd; */
  padding: 2px;
  margin: 2px;
}

.text_block
{
  color: #303030;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px; /* pg */
  font-weight: normal;
  text-align: justify;
  padding: 0px 10px 10px 10px;
}

/*
:first-letter
{
  color: red;
  text-transform: uppercase;
  font-style: italic;
}
*/

/* Input Forms */
head:first-child+body input
{
  visibility: visible;
  border: 1px solid #7ea3bf;
  background-color: white;
  vertical-align: middle;
  padding: 0;
  margin: 0;
/*  font-size: 1.2em; */
}

input.searchButton
{
  margin-top:1px;
  padding: 0 0.4em !important;
  font-size: 95%;
  cursor: pointer;

/*
  background-color: #d5e4f4;
  border: 1px solid #8cacbb;
*/

  vertical-align: top;
  padding: 0;
  margin: 0;
/*  font-size: 1.2em; */
}

select
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-Size: 11px;
  color: #303030;
  vertical-align: middle;
}

#dc_map
{

  border: 0;
  margin: 0;
  padding: 0;
  cursor: hand;

}



.title {
    color: #848484;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
  }

#Layer1 {
  position:absolute;
  width:162px;
  height:358px;
  z-index:101;
  left: 781px;
  top: 126px;
}
#Layer2 {
  position:absolute;
  width:141px;
  height:115px;
  z-index:102;
  left: 781px;
  top: 416px;
  background-color: #CCCCCC;
}

